.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px lightgray solid;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header__left {
  display: flex;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.header__search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #eef3f8;
}
.header__search > input {
  border: none;
  outline: none;
  background: none;
}

.header__option > h3 {
    font-size: 12px;
    font-weight: 400;
}
